NODE_ENV=development
USE_AUTH_GUARD=true
SWAGGER_SERVER_PREFIX=""
APP_PORT=8081
DB_HOST={DB_HOST}
DB_PORT=3306
DB_USERNAME={DB_USERNAME}
DB_PASSWORD={DB_PASSWORD}
DB_NAME=agency_doc_processing_api
SYNC_DB=false
DB_LOGGING=true
AUTH_API_URL={JWT_VALIDATION_URL}
KAFKA_BROKERS=localhost:9092